/backend-api/target/
/backend-api/.idea/
/backend-api/*.log

/backend-api/target/
/backend-api/.idea/
/backend-api/*.log

/frontend-web/node_modules/
/frontend-web/dist/ 
/frontend-web/.env* 
/frontend-web/.vite/

.DS_Store Thumbs.db
